@import url(https://fonts.googleapis.com/css?family=Roboto);

* { 
	margin: 0; 
	padding: 0; 
}
body { 
	padding: 50px;
  	font: 16px 'Roboto', sans-serif; 
}
#page-wrap {
  margin: 2% auto;
  color: white;
}
#page-wrap > .main {
  border: 1px solid #999;
  padding: 1%;
  margin-bottom: 1px;
  color: black;
}
section > div { padding: 20px; }
header, nav, footer { 
	background: #eef; 
	text-align: center; 
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    0px 1px 3px 0px rgba(0, 0, 0, 0.5);
	box-shadow:         0px 1px 3px 0px rgba(0, 0, 0, 0.5);
}
section { 
	background: #efe; 
	text-align: center; 
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    0px 1px 3px 0px rgba(0, 0, 0, 0.5);
	box-shadow:         0px 1px 3px 0px rgba(0, 0, 0, 0.5);
}
table	{ width: 70%; margin: 0 auto;}
td	{ text-align: left;}

nav span { margin: 0px 10px 0px 0px; }
#ErrorMsgs { color: #f61; font-size: smaler; }

a {
	color: #00B7FF;
	padding: 2px;
	text-decoration: none;
}
nav a:hover, footer a:hover {
	border-radius: 3px;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    0px 0px 3px 0px rgba(0, 0, 0, 0.5);
	box-shadow:         0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}

image, video {
	height:146px;
}

button {
	padding-top: 2px;
	padding-bottom: 4px;
}

.right {float: right;}
